@import 'variables'

#pages_homepage
  h1
    text-align: center
    font-size: 4em
    margin-top: 2em

#pages_dashboard
  .robot
    margin-bottom: 1em
    width: 100%
    box-sizing: border-box
    padding: 1em

    &:hover, &.active
      background-color: #EEE

    .name
      font-size: 1.8em

    .description
      font-size: 1em
      color: #AAA
      margin-top: -0.5em
      margin-bottom: 0.5em
